@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <script type="text/javascript">

        $(document).ready(() => {

            var connection = new signalR
            .HubConnectionBuilder()
            .configureLogging(signalR.LogLevel.Information)
            //.withAutomaticReconnect() // default
            //.withAutomaticReconnect([0, 2000, 10000, 30000]) // default
            .withAutomaticReconnect([1000,1000,2000,3000,5000,8000]) // custom
            .withUrl("https://localhost:5001/MyHub").build();

            $("#connectionStatus").text(connection.state);

            connection.start().then(() => {
                $("#connectionStatus").text(connection.state);
            }).catch((err) => { console.log(err) });

            $("#connectionStatus").text(connection.state);



            $("#btnSaveName").click(() => {
                connection.invoke("SendName", $("#txtName").val()).catch((err) => {
                    console.log("error: " + err);
                });
            });



            connection.on("ReceiveName", (name) => {
                
                $("#namesList").append(`<li class="list-group-item">${name}</li>`);

                console.log("receive => "+name);
            });

        });

    </script>

}

<div class="row">
    <div class="col-md-8 offset-2">
        <input class="form-control" type="text" id="txtName" />
        <hr />
        <button class="btn btn-primary" id="btnSaveName">Save Name</button>
        <hr />
        <div class="alert alert-info">
            Connection Status : <strong id="connectionStatus"></strong>
        </div>
    </div>
    <div class="col-md-8 offset-2">
        <ul class="list-group" id="namesList"></ul>
    </div>
</div>
