@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <script type="text/javascript">

        $(document).ready(() => {

            var connection = new signalR
            .HubConnectionBuilder()
            .configureLogging(signalR.LogLevel.Information)
            //.withAutomaticReconnect() // default
            //.withAutomaticReconnect([0, 2000, 10000, 30000]) // default
            .withAutomaticReconnect([1000,1000,2000,3000,5000,8000]) // custom
            .withUrl("https://localhost:5001/MyHub").build();

            $("#connectionStatus").text(connection.state);

            connection.start().then(() => {
                $("#connectionStatus").text(connection.state);
                $("#loading").hide();
            }).catch((err) => { console.log("start: " + err) });

            $("#connectionStatus").text(connection.state);



            connection.onreconnecting((err) => {
                $("#loading").show();
                $("#connectionStatus").text(connection.state);
                console.log("onreconnecting: " + err);
            });

            connection.onreconnected((connectionId) => {
                $("#loading").hide();
                $("#connectionStatus").text(connection.state);
                console.log("connectionId: " + connectionId);
            });

            connection.onclose(() => {
                $("#loading").hide();
                $("#connectionStatus").text(connection.state);
            });



            // click events
            $("#btnSaveName").click(() => {
                connection.invoke("SendName", $("#txtName").val()).catch((err) => {
                    console.log("clicksave: " + err);
                });
            });



            // on methods
            connection.on("ReceiveName", (name) => {
                
                $("#namesList").append(`<li class="list-group-item">${name}</li>`);

                console.log("receive => "+name);
            });

        });

    </script>

}

<div class="row">
    <div class="col-md-8 offset-2">
        <input class="form-control" type="text" id="txtName" />
        <hr />
        <button class="btn btn-primary" id="btnSaveName">Save Name</button>
        <hr />
        <div class="alert alert-info">
            <div class="float-left">
                Connection Status : <strong id="connectionStatus"></strong>
            </div>
            <div class="float-right">
                <div id="loading" class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-8 offset-2">
        <ul class="list-group" id="namesList"></ul>
    </div>
</div>
